.logo{
    background: url("https://w7.pngwing.com/pngs/325/679/png-transparent-panda-haed-illustration-counter-strike-global-offensive-esl-one-cologne-2016-fluffy-gangsters-nemiga-gaming-angry-panda-comics-mammal-animals.png") no-repeat;
    background-size: 100px ;
    height: 100px;
    width:100px;
}